header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(242, 242, 242);
  /* box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1); */
}

.rese {
  color: #0000FF;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

#btn_menu8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0000FF;
  border: none;
  position: relative;
}

#btn_menu8::before,
#btn_menu8 span,
#btn_menu8::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #f7f7f7;
  position: absolute;
}

#btn_menu8::before {
  top: 16px;
}

#btn_menu8 span {
  top: 24px;
}

#btn_menu8::after {
  bottom: 16px;
}

#btn_menu8:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-form {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #fff;
  padding: 0px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-form h2 {
  text-align: center;
  margin: 0px;
  background-color: #0000FF;
  color: #fff;
  padding: 20px;

}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font-size: 18px;
  margin: auto;
  padding: 30px 10px 10px 3px;
  display: block;
  color: #636363;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #0000FF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}



.login-form .login-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 5px;
  color: #010109;
}

.input-group input {
  font-size: 18px;
  padding: 10px 10px 10px 30px;
  /* メールアイコンの分だけ左に余白を追加 */
  /* ... existing styles ... */
}

.login-button {

  margin: auto;
  background-color: #0000FF;
  color: #f7f7f7;
}