body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rese {
  color: #0000FF;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

#btn_menu8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0000FF;
  border: none;
  position: relative;
}

#btn_menu8::before,
#btn_menu8 span,
#btn_menu8::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #f7f7f7;
  position: absolute;
}

#btn_menu8::before {
  top: 16px;
}

#btn_menu8 span {
  top: 24px;
}

#btn_menu8::after {
  bottom: 16px;
}

#btn_menu8:hover {
  background-color: #555;
}

.container {
  margin-top: 100px;
}

.userName {
  font-weight: 700;
  font-size: 30px;
}

.reserve .title,
.likes .title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card .card-title i {
  margin-right: 10px;
}

.reservation-item {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.favorite-heart {
  cursor: pointer;
  font-size: 24px;
}

.card-body p {
  margin: 5px 0;
}