header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(242, 242, 242);
  /* box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1); */
}

.rese {
  color: #0000FF;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

#btn_menu8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0000FF;
  border: none;
  position: relative;
}

#btn_menu8::before,
#btn_menu8 span,
#btn_menu8::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #f7f7f7;
  position: absolute;
}

#btn_menu8::before {
  top: 16px;
}

#btn_menu8 span {
  top: 24px;
}

#btn_menu8::after {
  bottom: 16px;
}

#btn_menu8:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-section {
  width: 60%;
}

.left-section h2 {
  font-size: 24px;
}

.left-section img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.left-section p {
  font-size: 16px;
  margin: 10px 0;
}

.left-section .about {
  margin-top: 20px;
}

.left-section .about h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.left-section .about p {
  font-size: 16px;
}

.right-section {
  width: 50%;
  background-color: rgb(00, 115, 246);
  padding: 30px;
}

.right-section h2 {
  font-size: 24px;
}

.right-section form {
  margin-top: 20px;
}

.right-section .form-group {
  margin-bottom: 10px;
}

.right-section label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.right-section input[type="date"] {
  width: 40%;
  padding: 8px;
  font-size: 16px;
}

.right-section input[type="time"],
.right-section input[type="number"] {
  width: 80%;
  padding: 8px;
  font-size: 16px;
}

.submit {}

.submit-all {
  /* padding: ; */
  background-color: #0a0a97;


}


.right-section .reservation-summary {
  margin-top: 30px;
}

.right-section .reservation-summary h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.right-section .reservation-summary p {
  font-size: 16px;
  margin-bottom: 5px;
}