body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(254, 250, 250, 0.1);
  z-index: 1000;
}

.rese {
  color: #0000FF;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

#btn_menu8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0000FF;
  border: none;
  position: relative;
  cursor: pointer;
}

#btn_menu8::before,
#btn_menu8 span,
#btn_menu8::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #f7f7f7;
  position: absolute;
}

#btn_menu8::before {
  top: 16px;
}

#btn_menu8 span {
  top: 24px;
}

#btn_menu8::after {
  bottom: 16px;
}

#btn_menu8:hover {
  background-color: #0000FF;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999;
}

.nav-overlay.active {
  opacity: 1;
  visibility: visible;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 1000;
}

.header__nav.active {
  transform: translateX(0);
}

.header__nav a {
  display: block;

  color: #007bff;
  text-decoration: none;
  font-size: 24px;
}

button.logout {
  background: none;
  border: none;
  color: #007bff;
  font-size: 24px;
  cursor: pointer;
  padding: 15px 25px;
  width: 100%;
  text-align: center;
}

.square_btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.square_btn:before,
.square_btn:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.square_btn:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-section {
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.back-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button:hover {
  background-color: #f0f0f0;
}

.top-bar .shop_name {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.left-section img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.left-section p {
  font-size: 16px;
  margin: 10px 0;
}

.area-genre-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.area-genre-container p {
  font-size: 16px;
  margin: 0;
}

.left-section .about {
  margin-top: 20px;
  max-width: 900px;
}

.left-section .about h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.left-section .about p {
  font-size: 16px;
}

.right-section {
  width: 40%;
  background-color: rgb(0, 115, 246);
  padding: 30px;
  border-radius: 5px;
  margin-bottom: auto;
}

.right-section h2 {
  color: #ccc;
}

.right-section p {
  font-size: 24px;
}

.right-section form {
  margin-top: 20px;
}

.right-section .form-group {
  margin-bottom: 10px;
}

.right-section label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.right-section input[type="date"] {
  width: 50%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;


}

.right-section input[type="time"] {
  width: 75%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
}

.right-section select {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
}

.right-section input[type="guests"] {

  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
}

.right-section .reservation-summary {
  background-color: rgb(94, 157, 235);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.right-section .reservation-summary p {
  font-size: 16px;
  margin: 5px 0;
}

.submit-all button {
  background-color: #0000FF;
  color: white;
  padding: 30px;
  width: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 30%;
  border-radius: 5px;
}

.submit-all button:hover {
  background-color: #3333FF;
}

.review-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.review-link:hover {
  text-decoration: underline;
}

.reviews-section {
  margin-top: 20px;
}

.review {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.review p {
  margin: 5px 0;
}

.star {
  color: #0000FF;
}

.review-image {
  max-width: 100px;
  margin-top: 10px;
}


.review-actions {
  margin-top: 10px;
  margin-left: 30%;
}


.edit-review,
.delete-review {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}

.reviews-section h2 {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}