header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(242, 242, 242);
  /* box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1); */
}

.rese {
  color: #0000FF;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

#btn_menu8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0000FF;
  border: none;
  position: relative;
}

#btn_menu8::before,
#btn_menu8 span,
#btn_menu8::after {
  content: "";
  width: 24px;
  height: 2px;
  background: #f7f7f7;
  position: absolute;
}

#btn_menu8::before {
  top: 16px;
}

#btn_menu8 span {
  top: 24px;
}

#btn_menu8::after {
  bottom: 16px;
}

#btn_menu8:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

/* コンテンツ全体のスタイル */
.content {
  padding: 200px;
  position: fixed;
  top: 60px;
  /* ヘッダーの高さ */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  /* コンテンツが画面内に収まらない場合にスクロール可能にする */
  scroll-behavior: smooth;
  /* スムーズにスクロールする */
}

/* 会員登録メッセージのスタイル */
.thanks-message {
  margin-top: 100px;
  /* ヘッダーの高さ分だけ下にずらす */
  font-size: 24px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

/* ログインボタンのスタイル */
.back-button {
  margin: 60px;
  background-color: #0000FF;
  color: #f7f7f7;
}